.tab {
  padding: var(--margin);
  color: var(--grey);
  box-sizing: border-box;
  min-width: var(--size);
  min-height: var(--size);
  display: grid;
  cursor: pointer;

  &[aria-selected="true"],
  &:hover {
    color: var(--front);
  }

  &.icon {
    justify-content: center;
    align-items: center;
    gap: var(--margin);
  }
}

.button {
  padding: var(--margin);
  color: var(--front);
  min-width: var(--size);
  min-height: var(--size);
  cursor: pointer;

  &:not(:hover)[disabled] {
    color: var(--grey);
  }

  &.icon {
    --color: var(--light-grey);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--margin);

    &:hover {
      --color: var(--front);
    }

    & > span {
      padding-right: var(--margin);
      color: var(--color);
    }
  }
}

.bar {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
  background-color: var(--back);
  border: 1px solid var(--grey);
  border-radius: var(--margin);
  align-items: start;
  justify-self: start;
  pointer-events: all;
  align-self: start;
}

.icon {
  align-content: center;
}

.colour {
  & > * {
    border-radius: calc(var(--margin) / 2);
  }
}
