.shell {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--back);
}

.previewPane {
  position: relative;
  display: flex;
  overflow: hidden;
}

.handle {
  background: var(--dark-grey);

  &:hover {
    background: var(--light-grey);
  }

  &[data-active-handle] {
    background: var(--front);
  }

  [data-direction="column"] & {
    cursor: ew-resize;
  }

  [data-direction="row"] & {
    cursor: ns-resize;
  }
}
