.hud {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: var(--margin);
  gap: var(--margin);
  z-index: 2;

  & > * {
    pointer-events: auto;
  }
}

.side {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: space-between;
  gap: var(--margin);
  pointer-events: none;

  .bottom {
    display: grid;
    gap: var(--margin);
    align-items: end;
    align-content: end;
  }
}

.palette {
  align-self: end;
}

.main {
  display: grid;
  grid-template-rows: 1fr min;
  pointer-events: none;
}

.menuPopover,
.palettePopover {
  inset: unset;
  position: absolute;
  pointer-events: auto;
}

.menuPopover:popover-open {
  top: calc(anchor(top));
  left: calc(anchor(right) + var(--margin));
}

.palettePopover:popover-open {
  bottom: calc(anchor(bottom));
  left: calc(anchor(right) + var(--margin));
  pointer-events: auto;
}
