.palette {
  display: grid;
  grid-template-columns: repeat(8, var(--size));
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--back);
  align-self: start;
  justify-self: start;
  max-width: calc(100vw - (36px + var(--margin) * 4));

  &.narrow {
    grid-auto-flow: column;
  }
}

.tab {
  box-sizing: border-box;
  padding: 8px;
  border-radius: calc(var(--margin));
  border: 1px solid transparent;

  &[aria-selected="true"] {
    padding: calc(var(--margin) / 3 * 2);
  }

  &:hover,
  &[aria-opened="true"] {
    border: 1px solid var(--grey);
  }

  & > div {
    pointer-events: none;
  }
}

.colourPickerPopover {
  inset: unset;
  position: absolute;
  pointer-events: auto;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  &:popover-open {
    bottom: calc(anchor(top) + var(--margin));
    left: calc(anchor(left));
  }
}
