.palette {
  display: grid;
  grid-template-columns: repeat(8, var(--size));
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--color-base-200);
  border: 1px solid var(--grey);
  border-radius: var(--margin);
  align-self: start;
  justify-self: start;
}

.item {
  box-sizing: border-box;
  padding: 8px;

  &[aria-selected="true"],
  &:hover {
    padding: var(--margin);
  }
}
