.palette {
  display: grid;
  grid-template-columns: repeat(8, var(--size));
  pointer-events: auto;
  box-sizing: border-box;
  background-color: var(--back);
  align-self: start;
  justify-self: start;
  max-width: calc(100vw - (var(--margin) * 3 + var(--size)) * 2);
}

.tab {
  box-sizing: border-box;
  padding: 8px;

  &[aria-selected="true"],
  &:hover {
    padding: var(--margin);
  }

  &[aria-opened="true"] {
    border: 1px solid var(--light-grey);
    border-radius: var(--margin);
  }

  & > div {
    pointer-events: none;
  }
}

.colourPickerPopover {
  inset: unset;
  position: absolute;
  pointer-events: auto;
  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;

  &:popover-open {
    bottom: calc(anchor(top) + var(--margin));
    left: calc(anchor(left));
  }
}
